.git
.gitignore
node_modules
vendor
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.idea
.vscode
*.log
/public/hot
/public/storage
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.sublime-project
*.sublime-workspace
.gitattributes
README.md
/tests
phpunit.xml 